* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
    height: 1500px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.nav {
    height: 41px;
    border-top: 3px solid #62887f;
    border-bottom: 1px solid #edeef0;
    background-color: #fcfcfc;
    line-height: 41px;
}

.nav a {
    display: inline-block;
    height: 41px;
    padding: 0 20px;
    font-size: 12px;
    color: #4c4c4c;
    text-decoration: none;
}

.nav a:hover {
    background-color: #eee;
    color: #62887f;
}

.nav .into {
    float: left;
    margin-left: 30px;
}

.nav .part {
    display: inline-block;
    margin-left: 10em;
    position: absolute;
    height: 41px;
    left: 15%;
}

.nav .part a {
    margin-left: 5em;
}

.nav .help {
    float: right;
    margin-right: 30px;
}

.w {
    width: 1200px;
    margin: auto;
}

.search {
    height: 100px;
    margin-top: 30px;
}

.logo {
    float: left;
    width: 150px;
    height: 100px;
    margin-left: 180px;
    margin-top: 10px;
}


.w h1 {
    float: right;
    margin-right: 200px;
}

.searchbox {
    float: right;
    width: 350px;
    height: 42px;
    background-color: rgb(224, 224, 224);
    margin-right: 200px;
    margin-top: 30px;
}

.searchbox input {
    float: left;
    width: 290px;
    height: 40px;
    background-color: transparent;
    border: 0px solid transparent;
    color: #888;
    font-size: 14px;
    padding-left: 15px;

}

.searchbox input:hover {
    background-color: rgb(236, 236, 236);
}

.but {
    float: left;
    width: 45px;
    height: 42px;
    background-color: #7A9D96;
    border: 0px solid transparent;
}

.searchbox button:hover {
    background-color: rgb(150, 150, 150);
}

.shopbox {
    float: left;
    width: 200px;
    height: 100px;
    margin-left: 90px;
}

.shopbox a {
    color: #62887f;
}

.shopname {
    float: left;
    margin-top: 30px;

}


.fenlei {
    height: 60px;
}

.choice {
    background-color: #62887f;
    margin-top: 30px;
    height: 30px;
    width: 90px;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.line {
    background-color: #62887f;
    height: 10px;
}


.goods-info {
    width: 900px;
    height: 550px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border: 0px;
    padding-top: 10px;
}

.picture {
    width: 400px;
    height: 450px;
    /* background-color: red; */
    margin-top: 10px;
    margin-left: 20px;

}

.small-pic-all {
    margin-left: 10px;
}

.big-picture {
    width: 400px;
    height: 450px;
}

.small-img {
    width: 72px;
    height: 70px;
    /* background-color: yellow; */
    margin-top: 10px;
    margin-left: 20px;
}

li {
    margin-top: 20px;
    margin-left: 10px;
}

.text-info {
    width: 460px;
    height: 350px;
    /* background-color: rgba(208, 235, 229, 0.737); */
    float: right;
    margin-top: -480px;
    margin-right: 10px;
    border: 1px solid rgb(227, 227, 227);

}

.text-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.price {
    background-color: #84b9ad50;
    width: 430px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

.price-span {
    color: #62887f;
    font-weight: bolder;
}

.size {
    width: 430px;
    height: 30px;
    padding-left: 10px;
}

.size-img {
    width: 50px;
    height: 60px;
    border: 0px;
    background-color: transparent;
    margin-left: 10px;
}

.text-num {
    margin-top: 60px;
    margin-left: 20px;
}

.number {
    width: 15px;
    padding-left: 10px;


}

.num {
    width: 15px;
}

.text-btn {
    margin-top: 20px;
    margin-left: 25px;
}

.purchase {
    width: 200px;
    height: 50px;

}

.join {
    margin-left: 5px;
    width: 200px;
    height: 50px;
    background-color: #679086;
    border: 1px;
    border-radius: 2px;
}

.join:hover {
    background-color: #4d7a71;
}

.wrapper {
    width: 900px;
    height: 40px;
    background-color: #7A9D96;
    /* background-color:  #e19410; */

    margin: 0 auto;

}

.wrapper li button {
    background-color: #7A9D96;
    border: none;
    color: white;
    font-size: 19px;
}

.jieshao {
    width: 200px;
    height: 40px;
    float: left;
    line-height: 40px;
    margin-left: 20px;
}

#three {
    border: none;
}

.eva-checkbox {
    padding-top: 13px;
    /* background-color: #d89272; */
    border-bottom: 1px solid rgb(184, 184, 184);

    height: 30px;
    line-height: 20px;
}

.eva-checkbox input {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 0.8rem;
    margin: 0 10px 0 10px;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: default;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: background-color ease 0.1s;
    transition: background-color ease 0.1s;
}

.eva-checkbox input:checked {
    background: #62887f;
}

.goods-information,
.evaluate {
    width: 898px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-left: 1px solid rgb(184, 184, 184);
    border-right: 1px solid rgb(184, 184, 184);

    overflow-y: auto;
}

.goods-information {
    width: 898px;
    height: 400px;
    margin-bottom: 40px;
    border: 1px solid rgb(184, 184, 184);

}

.goods-information ul li {
    float: left;
    width: 400px;
}

.eva-info {
    height: 230px;
    /* background-color: #b4c6b3; */
    border-bottom: 1px solid rgb(184, 184, 184);
}

.information {
    /* background-color: #dcab94; */
    width: 600px;
    height: 100%;
}

.information,
.purchase-info {
    float: left;
}

.eva-info div img {
    width: 80px;
    height: 80px;
}

.pre,
.zhui {
    padding: 10px;
}

.pre p,
.zhui p {
    width: 140px;
    height: 150px;
    color: rgb(145, 145, 145);
    /* background-color: #1be414; */
}

.zhui p {
    height: 80px;
}

.pre div {
    font-size: 14px;
    margin-left: 140px;
    margin-top: -150px;
}

.pre div img {
    margin-top: 160px;
}

.zhui div {
    margin-left: 140px;
    margin-top: -80px;
    font-size: 14px;
}

.purchase-info {
    color: rgb(145, 145, 145);
    height: 130px;
    padding-top: 90px;
    padding-left: 20px;
    border-left: 1px solid rgb(184, 184, 184);
}